*
{
    box-sizing: border-box;
}

.header {
    background-color: #f44336;
    padding: 30px 40px;
    color: white;
    text-align: center;
}

.header:after {
    content: "";
    display: table;
    clear: both;
}

#searcher
{
    margin: 0;
    border: none;
    border-radius: 0;
    width: 75%;
    padding: 10px;
    float: left;
    font-size: 16px;
}

.searchButton {
    padding: 10px;
    width: 25%;
    background: #d9d9d9;
    color: #555;
    float: left;
    text-align: center;
    font-size: 16px;
    cursor: pointer;
    transition: 0.3s;
    border-radius: 0;
}

.searchButton:hover {
    background-color: #bbb;
}

.footer {
    background-color: #f44336;
    padding: 50px 40px;
    color: white;
    text-align: center;
}

#taskInput {
    margin: 0;
    border: none;
    border-radius: 0;
    width: 60%;
    padding: 10px;
    float: left;
    font-size: 16px;
}

#dateInput {
    margin: 0;
    border: none;
    border-left: solid 1px black;
    padding: 8.5px;
    width: 20%;
    float: left;
    font-size: 16px;
}

.addBtn {
    padding: 10px;
    width: 20%;
    background: #d9d9d9;
    color: #555;
    float: left;
    text-align: center;
    font-size: 16px;
    cursor: pointer;
    transition: 0.3s;
    border-radius: 0;
}

#taskTable {
    border-collapse: collapse;
    width: 100%;
    border: 1px solid #ddd;
    font-size: 18px;
}

#taskTable th, #taskTable td {
    text-align: left;
    padding: 12px;
}

#taskTable tr {
    border-bottom: 1px solid #ddd;
}

#taskTable tr.tableHeader, #taskTable tr:hover {
    background-color: #f1f1f1;
}

.closeButton {
    right: 0;
    top: 0;
    padding: 12px;
}

.closeButton:hover {
    background-color: #f44336;
    color: white;
}